<div class="connect-container">
    <div class="connect-connect">
      <div class="connect-frame4">
        <img
          src="/rectangle12372-thwo-200h.png"
          alt="Rectangle12372"
          class="connect-rectangle1"
        />
        <div class="connect-group1">
          <span class="connect-text"><span>Explore</span></span>
          <span class="connect-text002"><span>Community</span></span>
          <div>
            <span class="connect-text004"><span>Saved</span></span>
            <div class="connect-presentation">
              <img
                src="/frame2372-lmje.svg"
                alt="Frame2372"
                class="connect-frame"
              />
            </div>
          </div>
          <div>
            <span class="connect-text006"><span>Shop</span></span>
            <div class="connect-presentation1">
              <img
                src="/frame2373-dfog.svg"
                alt="Frame2373"
                class="connect-frame1"
              />
            </div>
          </div>
        </div>
        <div class="connect-group2">
          <img
            src="/motoxplorlogo22373-8x3-200h.png"
            alt="motoxplorlogo22373"
            class="connect-motoxplorlogo2"
          />
          <img
            src="/motoxplorlogo12373-byv9-200h.png"
            alt="motoxplorlogo12373"
            class="connect-motoxplorlogo1"
          />
        </div>
        <img
          src="/ellipse22373-ksbs-200h.png"
          alt="Ellipse22373"
          class="connect-ellipse2"
        />
      </div>
      <img
        src="/rectangle53446-8y3k-300h.png"
        alt="Rectangle53446"
        class="connect-rectangle5"
      />
      <div class="connect-frame13">
        <div class="connect-form-searchbycityparkortrailname">
          <img src="/svg3446-gggn.svg" alt="SVG3446" class="connect-svg" />
          <div class="connect-input-searchbycityparkortrailname">
            <div class="connect-divplaceholder">
              <span class="connect-text008">
                <span>Do you want to share something?</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <span class="connect-text010"><span>Share your expereince</span></span>
      <div class="connect-group17">
        <img
          src="/unsplashy3kc7qhmjk3448-cxsd-200h.png"
          alt="unsplashy3kC7Qhmjk3448"
          class="connect-unsplashy3k-c-qhmjk"
        />
        <div class="connect-group13">
          <span class="connect-text012">
            <span class="connect-text013">James beff</span>
            <span class="connect-text014">
              ,
              <span  ></span>
            </span>
            <span>Diana Taccur’ın</span>
          </span>
          <div class="connect-group12">
            <span class="connect-text016"><span>2 days ago</span></span>
            <span class="connect-text018"><span>California</span></span>
            <span class="connect-text020"></span>
          </div>
        </div>
        <img
          src="/unsplashblihvfxbi9s3448-894n-400h.png"
          alt="unsplashBlIhVfXbi9s3448"
          class="connect-unsplash-bl-ih-vf-xbi9s"
        />
        <span class="connect-text021">
          <span class="connect-text022">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar nibh leo. Donec augue nulla, ultrices in erat et, pretium
            elementum arcu. Proin at justo orci. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin pulvinar nibh leo. Donec.....
          </span>
          <span>Read More</span>
        </span>
        <img
          src="/iconsaxlinearmore3452-u5q.svg"
          alt="IconsaxLinearmore3452"
          class="connect-iconsax-linearmore"
        />
        <div class="connect-group14">
          <span class="connect-text024"><span>23.5K Likes</span></span>
          <img
            src="/iconsaxlinearlike13453-k025.svg"
            alt="IconsaxLinearlike13453"
            class="connect-iconsax-linearlike1"
          />
        </div>
        <div class="connect-group16">
          <span class="connect-text026"><span>2.1K Comments</span></span>
          <img
            src="/iconsaxlinearmessagetext13453-4a5f.svg"
            alt="IconsaxLinearmessagetext13453"
            class="connect-iconsax-linearmessagetext1"
          />
        </div>
        <div class="connect-group15">
          <span class="connect-text028"><span>Share</span></span>
          <img
            src="/iconsaxlinearsend23453-2mtc.svg"
            alt="IconsaxLinearsend23453"
            class="connect-iconsax-linearsend2"
          />
        </div>
      </div>
      <div class="connect-group18">
        <img
          src="/unsplashy3kc7qhmjk3455-vqkm-200h.png"
          alt="unsplashy3kC7Qhmjk3455"
          class="connect-unsplashy3k-c-qhmjk1"
        />
        <div class="connect-group131">
          <span class="connect-text030">
            <span class="connect-text031">James beff</span>
            <span class="connect-text032">
              ,
              <span ></span>
            </span>
            <span>Diana Taccur’ın</span>
          </span>
          <div class="connect-group121">
            <span class="connect-text034"><span>2 days ago</span></span>
            <span class="connect-text036"><span>California</span></span>
            <span class="connect-text038"></span>
          </div>
        </div>
        <img
          src="/unsplashblihvfxbi9s3456-4rr9-400h.png"
          alt="unsplashBlIhVfXbi9s3456"
          class="connect-unsplash-bl-ih-vf-xbi9s1"
        />
        <span class="connect-text039">
          <span class="connect-text040">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar nibh leo. Donec augue nulla, ultrices in erat et, pretium
            elementum arcu. Proin at justo orci. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin pulvinar nibh leo. Donec.....
          </span>
          <span>Read More</span>
        </span>
        <img
          src="/iconsaxlinearmore3456-joz9.svg"
          alt="IconsaxLinearmore3456"
          class="connect-iconsax-linearmore1"
        />
        <div class="connect-group141">
          <span class="connect-text042"><span>23.5K Likes</span></span>
          <img
            src="/iconsaxlinearlike13457-k41.svg"
            alt="IconsaxLinearlike13457"
            class="connect-iconsax-linearlike11"
          />
        </div>
        <div class="connect-group161">
          <span class="connect-text044"><span>2.1K Comments</span></span>
          <img
            src="/iconsaxlinearmessagetext13457-gzp8.svg"
            alt="IconsaxLinearmessagetext13457"
            class="connect-iconsax-linearmessagetext11"
          />
        </div>
        <div class="connect-group151">
          <span class="connect-text046"><span>Share</span></span>
          <img
            src="/iconsaxlinearsend23458-pm5r.svg"
            alt="IconsaxLinearsend23458"
            class="connect-iconsax-linearsend21"
          />
        </div>
      </div>
      <div class="connect-group19">
        <img
          src="/unsplashy3kc7qhmjk3458-4xmv-200h.png"
          alt="unsplashy3kC7Qhmjk3458"
          class="connect-unsplashy3k-c-qhmjk2"
        />
        <div class="connect-group132">
          <span class="connect-text048">
            <span class="connect-text049">James beff</span>
            <span class="connect-text050">
              ,
              <span  ></span>
            </span>
            <span>Diana Taccur’ın</span>
          </span>
          <div class="connect-group122">
            <span class="connect-text052"><span>2 days ago</span></span>
            <span class="connect-text054"><span>California</span></span>
            <span class="connect-text056"></span>
          </div>
        </div>
        <img
          src="/unsplashblihvfxbi9s3459-kp1h-400h.png"
          alt="unsplashBlIhVfXbi9s3459"
          class="connect-unsplash-bl-ih-vf-xbi9s2"
        />
        <span class="connect-text057">
          <span class="connect-text058">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar nibh leo. Donec augue nulla, ultrices in erat et, pretium
            elementum arcu. Proin at justo orci. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin pulvinar nibh leo. Donec.....
          </span>
          <span>Read More</span>
        </span>
        <img
          src="/iconsaxlinearmore3459-of8i.svg"
          alt="IconsaxLinearmore3459"
          class="connect-iconsax-linearmore2"
        />
        <div class="connect-group142">
          <span class="connect-text060"><span>23.5K Likes</span></span>
          <img
            src="/iconsaxlinearlike13459-he06.svg"
            alt="IconsaxLinearlike13459"
            class="connect-iconsax-linearlike12"
          />
        </div>
        <div class="connect-group162">
          <span class="connect-text062"><span>2.1K Comments</span></span>
          <img
            src="/iconsaxlinearmessagetext13460-jog.svg"
            alt="IconsaxLinearmessagetext13460"
            class="connect-iconsax-linearmessagetext12"
          />
        </div>
        <div class="connect-group152">
          <span class="connect-text064"><span>Share</span></span>
          <img
            src="/iconsaxlinearsend23460-5pgm.svg"
            alt="IconsaxLinearsend23460"
            class="connect-iconsax-linearsend22"
          />
        </div>
      </div>
      <div class="connect-group20">
        <img
          src="/unsplashy3kc7qhmjk3461-fkxg-200h.png"
          alt="unsplashy3kC7Qhmjk3461"
          class="connect-unsplashy3k-c-qhmjk3"
        />
        <div class="connect-group133">
          <span class="connect-text066">
            <span class="connect-text067">James beff</span>
            <span class="connect-text068">
              ,
              <span ></span>
            </span>
            <span>Diana Taccur’ın</span>
          </span>
          <div class="connect-group123">
            <span class="connect-text070"><span>2 days ago</span></span>
            <span class="connect-text072"><span>California</span></span>
            <span class="connect-text074"></span>
          </div>
        </div>
        <img
          src="/unsplashblihvfxbi9s3461-5f2n-400h.png"
          alt="unsplashBlIhVfXbi9s3461"
          class="connect-unsplash-bl-ih-vf-xbi9s3"
        />
        <span class="connect-text075">
          <span class="connect-text076">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pulvinar nibh leo. Donec augue nulla, ultrices in erat et, pretium
            elementum arcu. Proin at justo orci. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin pulvinar nibh leo. Donec.....
          </span>
          <span>Read More</span>
        </span>
        <img
          src="/iconsaxlinearmore3462-xla.svg"
          alt="IconsaxLinearmore3462"
          class="connect-iconsax-linearmore3"
        />
        <div class="connect-group143">
          <span class="connect-text078"><span>23.5K Likes</span></span>
          <img
            src="/iconsaxlinearlike13462-5szw.svg"
            alt="IconsaxLinearlike13462"
            class="connect-iconsax-linearlike13"
          />
        </div>
        <div class="connect-group163">
          <span class="connect-text080"><span>2.1K Comments</span></span>
          <img
            src="/iconsaxlinearmessagetext13463-iu6g.svg"
            alt="IconsaxLinearmessagetext13463"
            class="connect-iconsax-linearmessagetext13"
          />
        </div>
        <div class="connect-group153">
          <span class="connect-text082"><span>Share</span></span>
          <img
            src="/iconsaxlinearsend23463-2tr.svg"
            alt="IconsaxLinearsend23463"
            class="connect-iconsax-linearsend23"
          />
        </div>
      </div>
      <div class="connect-frame11">
        <div class="connect-group7">
          <div class="connect-group21">
            <img
              src="/motoxplorlogo23464-u2yn-200h.png"
              alt="motoxplorlogo23464"
              class="connect-motoxplorlogo21"
            />
            <img
              src="/motoxplorlogo13464-7pdm-200h.png"
              alt="motoxplorlogo13464"
              class="connect-motoxplorlogo11"
            />
          </div>
          <div class="connect-group6">
            <div class="connect-frame8">
              <span class="connect-text084"><span>Explore</span></span>
              <span class="connect-text086"><span>Item here</span></span>
              <span class="connect-text088"><span>Item here</span></span>
              <span class="connect-text090"><span>Item here</span></span>
              <span class="connect-text092"><span>Item here</span></span>
            </div>
            <div class="connect-div">
              <span class="connect-text094"><span>Maps</span></span>
              <div class="connect-list">
                <span class="connect-text096"><span>Item here</span></span>
                <span class="connect-text098"><span>Item here</span></span>
                <span class="connect-text100"><span>Item here</span></span>
                <span class="connect-text102"><span>Item here</span></span>
              </div>
            </div>
            <div class="connect-div1">
              <span class="connect-text104"><span>Company</span></span>
              <div class="connect-list1">
                <span class="connect-text106"><span>Item here</span></span>
                <span class="connect-text108"><span>Item here</span></span>
                <span class="connect-text110"><span>Item here</span></span>
              </div>
            </div>
            <div class="connect-div2">
              <span class="connect-text112"><span>Community</span></span>
              <div class="connect-list2">
                <span class="connect-text114"><span>Item here</span></span>
                <span class="connect-text116"><span>Item here</span></span>
                <span class="connect-text118"><span>Item here</span></span>
              </div>
            </div>
          </div>
          <div class="connect-div3">
            <span class="connect-text120"><span>Connect with us</span></span>
            <div class="connect-div4">
              <img
                src="/linksvg3467-aygk.svg"
                alt="LinkSVG3467"
                class="connect-link-svg"
              />
              <img
                src="/linksvg3467-sz7e.svg"
                alt="LinkSVG3467"
                class="connect-link-svg1"
              />
              <img
                src="/linksvg3468-71pg.svg"
                alt="LinkSVG3468"
                class="connect-link-svg2"
              />
              <img
                src="/linksvg3469-21id.svg"
                alt="LinkSVG3469"
                class="connect-link-svg3"
              />
              <img
                src="/linksvg3470-8hsr.svg"
                alt="LinkSVG3470"
                class="connect-link-svg4"
              />
            </div>
          </div>
          <div class="connect-div5">
            <div class="connect-div6">
              <span class="connect-text122">
                <span>2023 Motoxplor. All Rights Reserved</span>
              </span>
              <span class="connect-text124">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pulvinar nibh leo. Donec augue nulla, ultrices in erat et,
                  pretium elementum.
                </span>
              </span>
              <span class="connect-text126">
                <span>
                  Sed in cursus ipsum, eget laoreet nisi. Lorem ipsum dolor sit
                  amet,
                </span>
              </span>
            </div>
            <div class="connect-label">
              <div class="connect-options-selectalanguage">
                <div class="connect-div7">
                  <span class="connect-text128"><span>English (US)</span></span>
                </div>
              </div>
              <div class="connect-presentation2">
                <img
                  src="/frame3471-3drr.svg"
                  alt="Frame3471"
                  class="connect-frame2"
                />
              </div>
            </div>
          </div>
          <div class="connect-div8">
            <span class="connect-text130"><span>Privacy Policy</span></span>
            <span class="connect-text132">•</span>
            <span class="connect-text133"><span>Terms</span></span>
            <span class="connect-text135">•</span>
            <span class="connect-text136"><span>Cookie Policy</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  

