<div class="sign-in-container">
    <div class="sign-in-sign-in">
      <div>
      
        <div class="sign-in-group1">
          <span class="sign-in-text"><span>Explore</span></span>
          <span class="sign-in-text02"><span>Community</span></span>
          <div>
            <span class="sign-in-text04"><span>Saved</span></span>
            <div class="sign-in-presentation">
              <img
                src="assets/signin/login1.png"
                alt="Frame1186"
                class="sign-in-frame"
              />
            </div>
          </div>
          <div>
            <span class="sign-in-text06"><span>Shop</span></span>
            <div class="sign-in-presentation1">
              <img
                src="/frame1187-9ue.svg"
                alt="Frame1187"
                class="sign-in-frame1"
              />
            </div>
          </div>
        </div>
        <div class="sign-in-group2">
 
          <img
            src="../../../assets/motoxplor.png"
            alt="motoxplorlogo11187"
            class="sign-in-motoxplorlogo1"
          />
        </div>
        <div class="sign-in-group3">
          <div class="sign-in-link">
            <div class="sign-in-span">
              <span class="sign-in-text08"><span>Sign Up For Free</span></span>
            </div>
          </div>
          <div class="sign-in-link1">
            <div class="sign-in-span1">
              <span class="sign-in-text10"><span>Log In</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="sign-in-div">
        <span class="sign-in-text12"><span>Connect with us</span></span>
        <div class="sign-in-div01">
          <img src alt="LinkSVG1210" class="sign-in-link-svg" />
          <img src alt="LinkSVG1210" class="sign-in-link-svg01" />
          <img src alt="LinkSVG1211" class="sign-in-link-svg02" />
          <img src alt="LinkSVG1212" class="sign-in-link-svg03" />
          <img src alt="LinkSVG1213" class="sign-in-link-svg04" />
        </div>
      </div>
      <div class="sign-in-div-login-signup-layoutmodulecontenthkm-zg">
        <img
          src="../../../assets/singin/login2.png"
          alt="Picture382fb3da877da6f0b442avif1160"
          class="sign-in-picture382fb3da877da6f0b442avif"
        />
        <img
          src="../../../assets/singin/login1.png"
          alt="Picture382fb3da877da6f0b442avif2224"
          class="sign-in-picture382fb3da877da6f0b442avif1"
        />
        <div class="sign-in-div-login-formmodulecontent-pp-ht">
          <div class="sign-in-group8">
            <div class="sign-in-heading1">
              <span class="sign-in-text14">
                <span>
                  <span>Welcome back.</span>
                  <br />
                  <span>Log in and start exploring.</span>
                </span>
              </span>
            </div>
            <div class="sign-in-div02">
              <form class="sign-in-form" [formGroup]="form" (ngSubmit)="submit()">
                <div class="sign-in-div-mui-form-controlroot">
                  <input class="sign-in-fieldset" [formControlName]="'email'" placeholder="Email adress"> 
             
                </div>
                <div class="sign-in-div-mui-form-controlroot1">
                   <input class="sign-in-fieldset1"  type="password" [formControlName]="'password'" placeholder="password"> 
                 </div>
                <button type="submit" style="cursor: pointer;" class="sign-in-button">
                  <div class="sign-in-span2">
                    <span class="sign-in-text23">Log in</span>
                  </div>
                </button>
              </form>
              
              <span class="sign-in-text25">
                <span>Forgot your password?</span>
              </span>
            </div>
            <div class="sign-in-div-alt-logins-formmodulecontent-w-ual">
              <button class="sign-in-button1">
                <div class="sign-in-presentation2">
                  <img
                    src="/frame1162-ghcd.svg"
                    alt="Frame1162"
                    class="sign-in-frame2"
                  />
                </div>
                <span class="sign-in-text27">
                  <span>Continue with Google</span>
                </span>
              </button>
              <button class="sign-in-button2">
                <div class="sign-in-presentation3">
                  <img
                    src="/frame1163-m2ku.svg"
                    alt="Frame1163"
                    class="sign-in-frame3"
                  />
                </div>
                <span class="sign-in-text29">
                  <span>Continue with Facebook</span>
                </span>
              </button>
              <button class="sign-in-button3">
                <div class="sign-in-presentation4">
                  <img
                    src="/frame1163-67df.svg"
                    alt="Frame1163"
                    class="sign-in-frame4"
                  />
                </div>
                <span class="sign-in-text31">
                  <span>Continue with Apple</span>
                </span>
              </button>
            </div>
            <div class="sign-in-div03">
              <span class="sign-in-text33">
                <span>Don&apos;t have an account?</span>
              </span>
              <span class="sign-in-text35"><span>Sign up for free</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="sign-in-frame11">
        <div class="sign-in-group7">
          <div class="sign-in-group21">
            <img
              src="/motoxplorlogo22216-te94-200h.png"
              alt="motoxplorlogo22216"
              class="sign-in-motoxplorlogo21"
            />
            <img
              src="/motoxplorlogo12216-cgx-200h.png"
              alt="motoxplorlogo12216"
              class="sign-in-motoxplorlogo11"
            />
          </div>
          <div class="sign-in-group6">
            <div class="sign-in-frame8">
              <span class="sign-in-text37"><span>Explore</span></span>
              <span class="sign-in-text39"><span>Item here</span></span>
              <span class="sign-in-text41"><span>Item here</span></span>
              <span class="sign-in-text43"><span>Item here</span></span>
              <span class="sign-in-text45"><span>Item here</span></span>
            </div>
            <div class="sign-in-div04">
              <span class="sign-in-text47"><span>Maps</span></span>
              <div class="sign-in-list">
                <span class="sign-in-text49"><span>Item here</span></span>
                <span class="sign-in-text51"><span>Item here</span></span>
                <span class="sign-in-text53"><span>Item here</span></span>
                <span class="sign-in-text55"><span>Item here</span></span>
              </div>
            </div>
            <div class="sign-in-div05">
              <span class="sign-in-text57"><span>Company</span></span>
              <div class="sign-in-list1">
                <span class="sign-in-text59"><span>Item here</span></span>
                <span class="sign-in-text61"><span>Item here</span></span>
                <span class="sign-in-text63"><span>Item here</span></span>
              </div>
            </div>
            <div class="sign-in-div06">
              <span class="sign-in-text65"><span>Community</span></span>
              <div class="sign-in-list2">
                <span class="sign-in-text67"><span>Item here</span></span>
                <span class="sign-in-text69"><span>Item here</span></span>
                <span class="sign-in-text71"><span>Item here</span></span>
              </div>
            </div>
          </div>
          <div class="sign-in-div07">
            <span class="sign-in-text73"><span>Connect with us</span></span>
            <div class="sign-in-div08">
              <img
                src="/linksvg2219-vm6c.svg"
                alt="LinkSVG2219"
                class="sign-in-link-svg05"
              />
              <img
                src="/linksvg2220-r7lk.svg"
                alt="LinkSVG2220"
                class="sign-in-link-svg06"
              />
              <img
                src="/linksvg2220-zm6a.svg"
                alt="LinkSVG2220"
                class="sign-in-link-svg07"
              />
              <img
                src="/linksvg2221-jo3.svg"
                alt="LinkSVG2221"
                class="sign-in-link-svg08"
              />
              <img
                src="/linksvg2222-uex.svg"
                alt="LinkSVG2222"
                class="sign-in-link-svg09"
              />
            </div>
          </div>
          <div class="sign-in-div09">
            <div class="sign-in-div10">
              <span class="sign-in-text75">
                <span>2023 Motoxplor. All Rights Reserved</span>
              </span>
              <span class="sign-in-text77">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pulvinar nibh leo. Donec augue nulla, ultrices in erat et,
                  pretium elementum.
                </span>
              </span>
              <span class="sign-in-text79">
                <span>
                  Sed in cursus ipsum, eget laoreet nisi. Lorem ipsum dolor sit
                  amet,
                </span>
              </span>
            </div>
            <div class="sign-in-label">
              <div class="sign-in-options-selectalanguage">
                <div class="sign-in-div11">
                  <span class="sign-in-text81"><span>English (US)</span></span>
                </div>
              </div>
              <div class="sign-in-presentation5">
                <img
                  src="/frame2224-yfr.svg"
                  alt="Frame2224"
                  class="sign-in-frame5"
                />
              </div>
            </div>
          </div>
          <div class="sign-in-div12">
            <span class="sign-in-text83"><span>Privacy Policy</span></span>
            <span class="sign-in-text85">•</span>
            <span class="sign-in-text86"><span>Terms</span></span>
            <span class="sign-in-text88">•</span>
            <span class="sign-in-text89"><span>Cookie Policy</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  