<div>

    <div class="user-profile-group1">
      <span class="user-profile-text"><span>Explore</span></span>
      <span class="user-profile-text002"><span>Community</span></span>
      <div>
        <span class="user-profile-text004"><span>Saved</span></span>
        <div class="user-profile-presentation">
          <img
            src="/frame2252-ld8m.svg"
            alt="Frame2252"
            class="user-profile-frame"
          />
        </div>
      </div>
      <div>
        <span class="user-profile-text006"><span>Shop</span></span>
        <div class="user-profile-presentation1">
          <img
            src="/frame2253-dqpq.svg"
            alt="Frame2253"
            class="user-profile-frame1"
          />
        </div>
      </div>
    </div>
    <div class="user-profile-group2">

      <img
        src="../../../assets/motoxplor.png"
        alt="motoxplorlogo12253"
        class="user-profile-motoxplorlogo1"
      />
    </div>
    <img
      src="../../../assets/userProfile/profile5.jpg"
      alt="Ellipse22282"
      class="user-profile-ellipse2"
    />
  </div>
