<app-navbar ></app-navbar>
<div class="map-container" style="padding-top: 50px;">
  <app-map style="padding-top:200px  ;z-index: -1;"></app-map>
</div>

<div class="routes-container">
    <div class="routes-routes">
      <div class="routes-frame4">
        <img
          alt="Rectangle12304"
          src="../../../assets/routes/0.png"
          class="routes-rectangle1"
        />
        <div class="routes-group1">
          <span class="routes-text"><span>Explore</span></span>
          <span class="routes-text002"><span>Community</span></span>
          <div class="routes-frame1">
            <span class="routes-text004"><span>Saved</span></span>
            <div class="routes-presentation">
              <img
                alt="Frame2304"
                src="/frame2304-9xm.svg"
                class="routes-frame"
              />
            </div>
          </div>
          <div class="routes-frame2">
            <span class="routes-text006"><span>Shop</span></span>
            <div class="routes-presentation01">
              <img
                alt="Frame2305"
                src="/frame2305-x1i.svg"
                class="routes-frame01"
              />
            </div>
          </div>
        </div>
        <div class="routes-group2">
          <img
            alt="motoxplorlogo22305"
            src="/motoxplorlogo22305-b94-200h.png"
            class="routes-motoxplorlogo2"
          />
          <img
            alt="motoxplorlogo12305"
            src="/motoxplorlogo12305-ngrn-200h.png"
            class="routes-motoxplorlogo1"
          />
        </div>
        <img
          alt="Ellipse22305"
          src="/ellipse22305-rxfo-200h.png"
          class="routes-ellipse2"
        />
      </div>
      <img
        alt="Rectangle52327"
        src="/rectangle52327-cfb-300h.png"
        class="routes-rectangle5"
      />
      <div>
        <div class="routes-form-searchbycityparkortrailname">
          <img alt="SVG2327" src="/svg2327-lim.svg" class="routes-svg" />
          <div class="routes-input-searchbycityparkortrailname">
            <div class="routes-divplaceholder">
              <span class="routes-text008">
                <span>Search by city, road, or route name</span>
              </span>
            </div>
          </div>
          <button class="routes-buttonicon">
            <div class="routes-presentation02">
              <img
                alt="Frame2328"
                src="/frame2328-qf6.svg"
                class="routes-frame02"
              />
            </div>
          </button>
        </div>
      </div>
      <div class="routes-frame12">
        <div class="routes-divslickslider">
          <div class="routes-divslicktrack">
            <div class="routes-frame7">
              <div class="routes-divxlatenone">
                <div class="routes-link">
                  <img
                    alt="IMAGE02329"
                    src="../../../assets/routes/3.png"
                    class="routes-image0"
                  />
                </div>
                <div class="routes-div">
                  <div class="routes-div01">
                    <div class="routes-div02">
                      <span class="routes-text010"><span>Easy</span></span>
                      <span class="routes-text012">•</span>
                      <div class="routes-presentation03">
                        <img
                          alt="Frame2330"
                          src="/frame2330-9hg.svg"
                          class="routes-frame03"
                        />
                      </div>
                      <span class="routes-text013"><span>4.4</span></span>
                      <div class="routes-span">
                        <span class="routes-text015"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div03">
                      <span class="routes-text017">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div04">
                      <span class="routes-text019">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div05">
                      <div class="routes-frame6">
                        <span class="routes-text021">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text023">•</span>
                        <span class="routes-text024"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone01">
                <div class="routes-link01">
                  <img
                    alt="IMAGE02332"
                    src="../../../assets/routes/4.png"
                    class="routes-image001"
                  />
                </div>
                <div class="routes-div06">
                  <div class="routes-div07">
                    <div class="routes-div08">
                      <span class="routes-text026"><span>Easy</span></span>
                      <span class="routes-text028">•</span>
                      <div class="routes-presentation04">
                        <img
                          alt="Frame2332"
                          src="/frame2332-3nqe.svg"
                          class="routes-frame04"
                        />
                      </div>
                      <span class="routes-text029"><span>4.4</span></span>
                      <div class="routes-span01">
                        <span class="routes-text031"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div09">
                      <span class="routes-text033">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div10">
                      <span class="routes-text035">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div11">
                      <div class="routes-frame601">
                        <span class="routes-text037">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text039">•</span>
                        <span class="routes-text040"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone02">
                <div class="routes-link02">
                  <img
                    alt="IMAGE02334"
                    src="../../../assets/routes/5.png"
                    class="routes-image002"
                  />
                </div>
                <div class="routes-div12">
                  <div class="routes-div13">
                    <div class="routes-div14">
                      <span class="routes-text042"><span>Easy</span></span>
                      <span class="routes-text044">•</span>
                      <div class="routes-presentation05">
                        <img
                          alt="Frame2335"
                          src="/frame2335-ijw7.svg"
                          class="routes-frame05"
                        />
                      </div>
                      <span class="routes-text045"><span>4.4</span></span>
                      <div class="routes-span02">
                        <span class="routes-text047"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div15">
                      <span class="routes-text049">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div16">
                      <span class="routes-text051">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div17">
                      <div class="routes-frame602">
                        <span class="routes-text053">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text055">•</span>
                        <span class="routes-text056"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone03">
                <div class="routes-link03">
                  <img
                    alt="IMAGE02337"
                    src="../../../assets/routes/6.png"
                    class="routes-image003"
                  />
                </div>
                <div class="routes-div18">
                  <div class="routes-div19">
                    <div class="routes-div20">
                      <span class="routes-text058"><span>Easy</span></span>
                      <span class="routes-text060">•</span>
                      <div class="routes-presentation06">
                        <img
                          alt="Frame2338"
                          src="/frame2338-s7m.svg"
                          class="routes-frame06"
                        />
                      </div>
                      <span class="routes-text061"><span>4.4</span></span>
                      <div class="routes-span03">
                        <span class="routes-text063"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div21">
                      <span class="routes-text065">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div22">
                      <span class="routes-text067">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div23">
                      <div class="routes-frame603">
                        <span class="routes-text069">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text071">•</span>
                        <span class="routes-text072"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="routes-divslickslider1">
          <div class="routes-divslicktrack1">
            <div class="routes-frame71">
              <div class="routes-divxlatenone04">
                <div class="routes-link04">
                  <img
                    alt="IMAGE02340"
                    src="../../../assets/routes/7.png"
                    class="routes-image004"
                  />
                </div>
                <div class="routes-div24">
                  <div class="routes-div25">
                    <div class="routes-div26">
                      <span class="routes-text074"><span>Easy</span></span>
                      <span class="routes-text076">•</span>
                      <div class="routes-presentation07">
                        <img
                          alt="Frame2341"
                          src="/frame2341-0u3i.svg"
                          class="routes-frame07"
                        />
                      </div>
                      <span class="routes-text077"><span>4.4</span></span>
                      <div class="routes-span04">
                        <span class="routes-text079"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div27">
                      <span class="routes-text081">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div28">
                      <span class="routes-text083">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div29">
                      <div class="routes-frame604">
                        <span class="routes-text085">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text087">•</span>
                        <span class="routes-text088"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone05">
                <div class="routes-link05">
                  <img
                    alt="IMAGE02343"
                    src="../../../assets/routes/8.png"
                    class="routes-image005"
                  />
                </div>
                <div class="routes-div30">
                  <div class="routes-div31">
                    <div class="routes-div32">
                      <span class="routes-text090"><span>Easy</span></span>
                      <span class="routes-text092">•</span>
                      <div class="routes-presentation08">
                        <img
                          alt="Frame2343"
                          src="/frame2343-8khg.svg"
                          class="routes-frame08"
                        />
                      </div>
                      <span class="routes-text093"><span>4.4</span></span>
                      <div class="routes-span05">
                        <span class="routes-text095"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div33">
                      <span class="routes-text097">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div34">
                      <span class="routes-text099">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div35">
                      <div class="routes-frame605">
                        <span class="routes-text101">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text103">•</span>
                        <span class="routes-text104"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone06">
                <div class="routes-link06">
                  <img
                    alt="IMAGE02345"
                    src="../../../assets/routes/9.png"
                    class="routes-image006"
                  />
                </div>
                <div class="routes-div36">
                  <div class="routes-div37">
                    <div class="routes-div38">
                      <span class="routes-text106"><span>Easy</span></span>
                      <span class="routes-text108">•</span>
                      <div class="routes-presentation09">
                        <img
                          alt="Frame2346"
                          src="/frame2346-vde.svg"
                          class="routes-frame09"
                        />
                      </div>
                      <span class="routes-text109"><span>4.4</span></span>
                      <div class="routes-span06">
                        <span class="routes-text111"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div39">
                      <span class="routes-text113">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div40">
                      <span class="routes-text115">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div41">
                      <div class="routes-frame606">
                        <span class="routes-text117">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text119">•</span>
                        <span class="routes-text120"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone07">
                <div class="routes-link07">
                  <img
                    alt="IMAGE02348"
                    src="../../../assets/routes/10.png"
                    class="routes-image007"
                  />
                </div>
                <div class="routes-div42">
                  <div class="routes-div43">
                    <div class="routes-div44">
                      <span class="routes-text122"><span>Easy</span></span>
                      <span class="routes-text124">•</span>
                      <div class="routes-presentation10">
                        <img
                          alt="Frame2349"
                          src="/frame2349-pg8.svg"
                          class="routes-frame10"
                        />
                      </div>
                      <span class="routes-text125"><span>4.4</span></span>
                      <div class="routes-span07">
                        <span class="routes-text127"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div45">
                      <span class="routes-text129">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div46">
                      <span class="routes-text131">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div47">
                      <div class="routes-frame607">
                        <span class="routes-text133">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text135">•</span>
                        <span class="routes-text136"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="routes-divslickslider2">
          <div class="routes-divslicktrack2">
            <div class="routes-frame72">
              <div class="routes-divxlatenone08">
                <div class="routes-link08">
                  <img
                    alt="IMAGE02351"
                    src="../../../assets/routes/11.png"
                    class="routes-image008"
                  />
                </div>
                <div class="routes-div48">
                  <div class="routes-div49">
                    <div class="routes-div50">
                      <span class="routes-text138"><span>Easy</span></span>
                      <span class="routes-text140">•</span>
                      <div class="routes-presentation11">
                        <img alt="Frame2352" src="/frame2352-lyhb.svg" />
                      </div>
                      <span class="routes-text141"><span>4.4</span></span>
                      <div class="routes-span08">
                        <span class="routes-text143"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div51">
                      <span class="routes-text145">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div52">
                      <span class="routes-text147">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div53">
                      <div class="routes-frame608">
                        <span class="routes-text149">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text151">•</span>
                        <span class="routes-text152"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone09">
                <div class="routes-link09">
                  <img
                    alt="IMAGE02354"
                    src="../../../assets/routes/12.png"
                    class="routes-image009"
                  />
                </div>
                <div class="routes-div54">
                  <div class="routes-div55">
                    <div class="routes-div56">
                      <span class="routes-text154"><span>Easy</span></span>
                      <span class="routes-text156">•</span>
                      <div class="routes-presentation12">
                        <img alt="Frame2355" src="/frame2355-xi0h.svg" />
                      </div>
                      <span class="routes-text157"><span>4.4</span></span>
                      <div class="routes-span09">
                        <span class="routes-text159"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div57">
                      <span class="routes-text161">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div58">
                      <span class="routes-text163">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div59">
                      <div class="routes-frame609">
                        <span class="routes-text165">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text167">•</span>
                        <span class="routes-text168"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone10">
                <div class="routes-link10">
                  <img
                    alt="IMAGE02357"
                    src="../../../assets/routes/13.png"
                    class="routes-image010"
                  />
                </div>
                <div class="routes-div60">
                  <div class="routes-div61">
                    <div class="routes-div62">
                      <span class="routes-text170"><span>Easy</span></span>
                      <span class="routes-text172">•</span>
                      <div class="routes-presentation13">
                        <img
                          alt="Frame2357"
                          src="/frame2357-svdf.svg"
                          class="routes-frame13"
                        />
                      </div>
                      <span class="routes-text173"><span>4.4</span></span>
                      <div class="routes-span10">
                        <span class="routes-text175"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div63">
                      <span class="routes-text177">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div64">
                      <span class="routes-text179">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div65">
                      <div class="routes-frame610">
                        <span class="routes-text181">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text183">•</span>
                        <span class="routes-text184"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="routes-divxlatenone11">
                <div class="routes-link11">
                  <img
                    alt="IMAGE02359"
                    src="../../../assets/routes/14.png"
                    class="routes-image011"
                  />
                </div>
                <div class="routes-div66">
                  <div class="routes-div67">
                    <div class="routes-div68">
                      <span class="routes-text186"><span>Easy</span></span>
                      <span class="routes-text188">•</span>
                      <div class="routes-presentation14">
                        <img alt="Frame2360" src="/frame2360-5t3.svg" />
                      </div>
                      <span class="routes-text189"><span>4.4</span></span>
                      <div class="routes-span11">
                        <span class="routes-text191"><span>(459)</span></span>
                      </div>
                    </div>
                    <div class="routes-div69">
                      <span class="routes-text193">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="routes-div70">
                      <span class="routes-text195">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="routes-div71">
                      <div class="routes-frame611">
                        <span class="routes-text197">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="routes-text199">•</span>
                        <span class="routes-text200"><span>Est. 3.5d</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="routes-text202"><span>Good morning, john</span></span>
      <div class="routes-divstylesmoduleriver-containers2din">
        <span class="routes-text204"><span>Latest Articles</span></span>
        <div class="routes-divslickslider3">
          <div class="routes-frame73">
            <div class="routes-divxlatenone12">
              <div class="routes-link12">
                <img
                  alt="IMAGE03429"
                  src="../../../assets/routes/15.png"
                  class="routes-image012"
                />
              </div>
              <div class="routes-frame14">
                <span class="routes-text206">
                  <span>
                    Route 1: Alaska Highway, From Anchorage to Whitehorse
                  </span>
                </span>
                <span class="routes-text208">
                  <span>
                    <span>
                      You know you’ve found a pristine wilderness when you’re
                      sharing the road with free-range buffalo!
                    </span>
                    <br />
                    <span>
                      This motorcycle trip starts in Anchorage before setting out
                      east via the Alaska Highway (AK-1) along the Matanuska
                      River. From there it cuts through the vast Hayes Mountain
                      range into Tanana Valley and the town of Tok (Population:
                      1,300).
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="routes-divxlatenone13">
              <div class="routes-link13">
                <img
                  alt="IMAGE03440"
                  src="../../../assets/routes/8.png"
                  class="routes-image013"
                />
              </div>
              <div class="routes-frame141">
                <span class="routes-text213">
                  <span>
                    Route 2: The Pyrenees Loop, Covering France &amp; Spain
                  </span>
                </span>
                <span class="routes-text215">
                  <span>
                    <span>
                      You know you’ve found a pristine wilderness when you’re
                      sharing the road with free-range buffalo!
                    </span>
                    <br />
                    <span>
                      This motorcycle trip starts in Anchorage before setting out
                      east via the Alaska Highway (AK-1) along the Matanuska
                      River. From there it cuts through the vast Hayes Mountain
                      range into Tanana Valley and the town of Tok (Population:
                      1,300).
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="routes-divxlatenone14">
              <div class="routes-link14">
                <img
                  alt="IMAGE03441"
                  src="../../../assets/routes/12.png"
                  class="routes-image014"
                />
              </div>
              <div class="routes-frame142">
                <span class="routes-text220">
                  <span>Route 3: The Pacific Coast Highway, California USA</span>
                </span>
                <span class="routes-text222">
                  <span>
                    <span>
                      Technically California’s iconic Pacific Coast Highway runs
                      over 790 (1,271 km) miles from San Diego California straight
                      through to the Oregon border.
                    </span>
                    <br />
                    <span>
                      For an amazing motorcycle trip, however, we recommend you
                      focus on the 250-mile (402 km) stretch between Morro Bay and
                      San Francisco. It goes almost without saying that Los
                      Angeles traffic should be avoided at all costs (both for
                      your sake, and your bikes!).
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="routes-divxlatenone15">
              <div class="routes-link15">
                <img
                  alt="IMAGE03442"
                  src="../../../assets/routes/10.png"
                  class="routes-image015"
                />
              </div>
              <div class="routes-frame143">
                <span class="routes-text227">
                  <span>Route 4: Ceuta to Marrakesh Loop, Morocco</span>
                </span>
                <span class="routes-text229">
                  <span>
                    <span>
                      Most riders will begin this epic journey in Algeciras Spain
                      and then take a ferry across the Strait of Gibraltar into
                      Ceuta, which is an autonomous territory of Spain at the
                      northernmost point of Morocco.
                    </span>
                    <br />
                    <span>
                      From there you’ll gain elevation quickly, climbing into the
                      Rif mountain range before descending again into the city of
                      Fes. After Fes it’s back into the mountains, this time
                      climbing up into the impressive Atlas range before dropping
                      down into the oasis town of Erfoud in the Sahara Desert.
                    </span>
                    <br />
                    <span></span>
                    <br />
                    <span>
                      This motorcycle trip starts in Anchorage before setting out
                      east via the Alaska Highway (AK-1) along the Matanuska
                      River. From there it cuts through the vast Hayes Mountain
                      range into Tanana Valley and the town of Tok (Population:
                      1,300).
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="routes-frame11">
        <div class="routes-group7">
          <div class="routes-group21">
            <img
              alt="motoxplorlogo22362"
              src="/motoxplorlogo22362-0yge-200h.png"
              class="routes-motoxplorlogo21"
            />
            <img
              alt="motoxplorlogo12362"
              src="/motoxplorlogo12362-vgzp-200h.png"
              class="routes-motoxplorlogo11"
            />
          </div>
          <div class="routes-group6">
            <div class="routes-frame8">
              <span class="routes-text238"><span>Explore</span></span>
              <span class="routes-text240"><span>Item here</span></span>
              <span class="routes-text242"><span>Item here</span></span>
              <span class="routes-text244"><span>Item here</span></span>
              <span class="routes-text246"><span>Item here</span></span>
            </div>
            <div class="routes-div72">
              <span class="routes-text248"><span>Maps</span></span>
              <div class="routes-list">
                <span class="routes-text250"><span>Item here</span></span>
                <span class="routes-text252"><span>Item here</span></span>
                <span class="routes-text254"><span>Item here</span></span>
                <span class="routes-text256"><span>Item here</span></span>
              </div>
            </div>
            <div class="routes-div73">
              <span class="routes-text258"><span>Company</span></span>
              <div class="routes-list1">
                <span class="routes-text260"><span>Item here</span></span>
                <span class="routes-text262"><span>Item here</span></span>
                <span class="routes-text264"><span>Item here</span></span>
              </div>
            </div>
            <div class="routes-div74">
              <span class="routes-text266"><span>Community</span></span>
              <div class="routes-list2">
                <span class="routes-text268"><span>Item here</span></span>
                <span class="routes-text270"><span>Item here</span></span>
                <span class="routes-text272"><span>Item here</span></span>
              </div>
            </div>
          </div>
          <div class="routes-div75">
            <span class="routes-text274"><span>Connect with us</span></span>
            <div class="routes-div76">
              <img
                alt="LinkSVG2365"
                src="/linksvg2365-hxll.svg"
                class="routes-link-svg"
              />
              <img
                alt="LinkSVG2366"
                src="/linksvg2366-ylnq.svg"
                class="routes-link-svg1"
              />
              <img
                alt="LinkSVG2367"
                src="/linksvg2367-oye.svg"
                class="routes-link-svg2"
              />
              <img
                alt="LinkSVG2368"
                src="/linksvg2368-9yno.svg"
                class="routes-link-svg3"
              />
              <img
                alt="LinkSVG2368"
                src="/linksvg2368-gmzu.svg"
                class="routes-link-svg4"
              />
            </div>
          </div>
          <div class="routes-div77">
            <div class="routes-div78">
              <span class="routes-text276">
                <span>2023 Motoxplor. All Rights Reserved</span>
              </span>
              <span class="routes-text278">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pulvinar nibh leo. Donec augue nulla, ultrices in erat et,
                  pretium elementum.
                </span>
              </span>
              <span class="routes-text280">
                <span>
                  Sed in cursus ipsum, eget laoreet nisi. Lorem ipsum dolor sit
                  amet,
                </span>
              </span>
            </div>
            <div class="routes-label">
              <div class="routes-options-selectalanguage">
                <div class="routes-div79">
                  <span class="routes-text282"><span>English (US)</span></span>
                </div>
              </div>
              <div class="routes-presentation15">
                <img
                  alt="Frame2370"
                  src="/frame2370-p2f8.svg"
                  class="routes-frame15"
                />
              </div>
            </div>
          </div>
          <div class="routes-div80">
            <span class="routes-text284"><span>Privacy Policy</span></span>
            <span class="routes-text286">•</span>
            <span class="routes-text287"><span>Terms</span></span>
            <span class="routes-text289">•</span>
            <span class="routes-text290"><span>Cookie Policy</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  