<div class="sign-up-container">
    <div class="sign-up-sign-up">
      <div>
    
        <div class="sign-up-group1">
          <span class="sign-up-text"><span>Explore</span></span>
          <span class="sign-up-text02"><span>Community</span></span>
          <div>
            <span class="sign-up-text04"><span>Saved</span></span>
            <div class="sign-up-presentation">
              <img
                alt="Frame2225"
                src="/frame2225-2iwnh.svg"
                class="sign-up-frame"
              />
            </div>
          </div>
          <div>
            <span class="sign-up-text06"><span>Shop</span></span>
            <div class="sign-up-presentation1">
              <img
                alt="Frame2226"
                src="/frame2226-0xhl.svg"
                class="sign-up-frame1"
              />
            </div>
          </div>
        </div>
        <div class="sign-up-group2">
        
          <img
            alt="motoxplorlogo12226"
            src="../../../assets/motoxplor.png"
            class="sign-up-motoxplorlogo1"
          />
        </div>
        <div class="sign-up-group3">
          <div class="sign-up-link">
            <div class="sign-up-span">
              <span class="sign-up-text08"><span>Sign Up For Free</span></span>
            </div>
          </div>
          <div class="sign-up-link1">
            <div class="sign-up-span1">
              <span class="sign-up-text10"><span>Log In</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="sign-up-div">
        <span class="sign-up-text12"><span>Connect with us</span></span>
        <div class="sign-up-div01">
          <img alt="LinkSVG2227" src class="sign-up-link-svg" />
          <img alt="LinkSVG2228" src class="sign-up-link-svg01" />
          <img alt="LinkSVG2229" src class="sign-up-link-svg02" />
          <img alt="LinkSVG2230" src class="sign-up-link-svg03" />
          <img alt="LinkSVG2230" src class="sign-up-link-svg04" />
        </div>
      </div>
      <div class="sign-up-div-login-signup-layoutmodulecontenthkm-zg">
        <img
          alt="Picture382fb3da877da6f0b442avif2231"
          src="../../../assets/signup/signup.png"
          class="sign-up-picture382fb3da877da6f0b442avif"
        />
        <img
          alt="Picture382fb3da877da6f0b442avif2231"
          src="../../../assets/signup/signup2.png"
          class="sign-up-picture382fb3da877da6f0b442avif1"
        />
      </div>
      <div class="sign-up-frame11">
        <div class="sign-up-group7">
          <div class="sign-up-group21">
            <img
              alt="motoxplorlogo22237"
              src="/motoxplorlogo22237-yk3u-200h.png"
              class="sign-up-motoxplorlogo21"
            />
            <img
              alt="motoxplorlogo12237"
              src="/motoxplorlogo12237-5wto-200h.png"
              class="sign-up-motoxplorlogo11"
            />
          </div>
          <div class="sign-up-group6">
            <div class="sign-up-frame8">
              <span class="sign-up-text14"><span>Explore</span></span>
              <span class="sign-up-text16"><span>Item here</span></span>
              <span class="sign-up-text18"><span>Item here</span></span>
              <span class="sign-up-text20"><span>Item here</span></span>
              <span class="sign-up-text22"><span>Item here</span></span>
            </div>
            <div class="sign-up-div02">
              <span class="sign-up-text24"><span>Maps</span></span>
              <div class="sign-up-list">
                <span class="sign-up-text26"><span>Item here</span></span>
                <span class="sign-up-text28"><span>Item here</span></span>
                <span class="sign-up-text30"><span>Item here</span></span>
                <span class="sign-up-text32"><span>Item here</span></span>
              </div>
            </div>
            <div class="sign-up-div03">
              <span class="sign-up-text34"><span>Company</span></span>
              <div class="sign-up-list1">
                <span class="sign-up-text36"><span>Item here</span></span>
                <span class="sign-up-text38"><span>Item here</span></span>
                <span class="sign-up-text40"><span>Item here</span></span>
              </div>
            </div>
            <div class="sign-up-div04">
              <span class="sign-up-text42"><span>Community</span></span>
              <div class="sign-up-list2">
                <span class="sign-up-text44"><span>Item here</span></span>
                <span class="sign-up-text46"><span>Item here</span></span>
                <span class="sign-up-text48"><span>Item here</span></span>
              </div>
            </div>
          </div>
          <div class="sign-up-div05">
            <span class="sign-up-text50"><span>Connect with us</span></span>
            <div class="sign-up-div06">
              <img
                alt="LinkSVG2240"
                src="/linksvg2240-hk64.svg"
                class="sign-up-link-svg05"
              />
              <img
                alt="LinkSVG2241"
                src="/linksvg2241-qid.svg"
                class="sign-up-link-svg06"
              />
              <img
                alt="LinkSVG2241"
                src="/linksvg2241-h2p5.svg"
                class="sign-up-link-svg07"
              />
              <img
                alt="LinkSVG2242"
                src="/linksvg2242-rtdb.svg"
                class="sign-up-link-svg08"
              />
              <img
                alt="LinkSVG2243"
                src="/linksvg2243-wx3g.svg"
                class="sign-up-link-svg09"
              />
            </div>
          </div>
          <div class="sign-up-div07">
            <div class="sign-up-div08">
              <span class="sign-up-text52">
                <span>2023 Motoxplor. All Rights Reserved</span>
              </span>
              <span class="sign-up-text54">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pulvinar nibh leo. Donec augue nulla, ultrices in erat et,
                  pretium elementum.
                </span>
              </span>
              <span class="sign-up-text56">
                <span>
                  Sed in cursus ipsum, eget laoreet nisi. Lorem ipsum dolor sit
                  amet,
                </span>
              </span>
            </div>
            <div class="sign-up-label">
              <div class="sign-up-options-selectalanguage">
                <div class="sign-up-div09">
                  <span class="sign-up-text58"><span>English (US)</span></span>
                </div>
              </div>
              <div class="sign-up-presentation2">
                <img
                  alt="Frame2245"
                  src="/frame2245-3fgd.svg"
                  class="sign-up-frame2"
                />
              </div>
            </div>
          </div>
          <div class="sign-up-div10">
            <span class="sign-up-text60"><span>Privacy Policy</span></span>
            <span class="sign-up-text62">•</span>
            <span class="sign-up-text63"><span>Terms</span></span>
            <span class="sign-up-text65">•</span>
            <span class="sign-up-text66"><span>Cookie Policy</span></span>
          </div>
        </div>
      </div>
      <div class="sign-up-div-login-formmodulecontent-pp-ht">
        <span class="sign-up-text68"><span>Create your free account</span></span>
        <form [formGroup]="form" (ngSubmit)="submit()" class="sign-up-group10">
          <div class="sign-up-div-mui-form-controlroot">
            <label for="fullname" class="sign-up-text70"><span>Full Name</span></label>
            <input type="text" [formControlName]="'name'" id="fullname" class="sign-up-fieldset" placeholder="Full Name" required>
          </div>
          <div class="sign-up-div-mui-form-controlroot1">
            <label for="email" class="sign-up-text72"><span>Email Address</span></label>
            <input type="email" [formControlName]="'email'" id="email" class="sign-up-fieldset1"  placeholder="Email Address" required>
          </div>
          <div class="sign-up-div-mui-form-controlroot2">
            <label for="address" class="sign-up-text74"><span>Address</span></label>
            <input type="text" [formControlName]="'address'" id="address" class="sign-up-fieldset2"  placeholder="Address" required>
          </div>
          <div class="sign-up-div-mui-form-controlroot3">
            <label for="phone" class="sign-up-text76"><span>Phone Number</span></label>
            <input type="tel" id="phone"  [formControlName]="'phoneNumber'" class="sign-up-fieldset3" placeholder="Phone Number" required>
          </div>
          <div class="sign-up-div-mui-form-controlroot4">
            <label for="password" class="sign-up-text78"><span>Password</span></label>
            <input type="password" id="password" [formControlName]="'password'" class="sign-up-fieldset4" placeholder="Password" required>
          </div>
          <button type="submit" style="cursor: pointer;" class="sign-up-button">
            <div class="sign-up-span2">
              <span class="sign-up-text80"><span>Signup</span></span>
            </div>
          </button>
        </form>
        
        <div class="sign-up-div-alt-logins-formmodulecontent-w-ual">
          <button class="sign-up-button1">
            <div class="sign-up-presentation3">
              <img
                alt="Frame2247"
                src="/frame2247-p47.svg"
                class="sign-up-frame3"
              />
            </div>
            <span class="sign-up-text82"><span>Continue with Google</span></span>
          </button>
          <button class="sign-up-button2">
            <div class="sign-up-presentation4">
              <img
                alt="Frame2248"
                src="/frame2248-dbue.svg"
                class="sign-up-frame4"
              />
            </div>
            <span class="sign-up-text84">
              <span>Continue with Facebook</span>
            </span>
          </button>
          <button class="sign-up-button3">
            <div class="sign-up-presentation5">
              <img
                alt="Frame2249"
                src="/frame2249-vqcl.svg"
                class="sign-up-frame5"
              />
            </div>
            <span class="sign-up-text86"><span>Continue with Apple</span></span>
          </button>
        </div>
        <div class="sign-up-div11">
          <span class="sign-up-text88">
            <span>Already have an account?</span>
          </span>
          <span class="sign-up-text90"><span>Log in</span></span>
        </div>
        <div class="sign-up-group9">
          <span class="sign-up-text92"><span>or</span></span>
          <img
            alt="Vector12251"
            src="/vector12251-xkye.svg"
            class="sign-up-vector1"
          />
          <img
            alt="Vector22251"
            src="/vector22251-jxc.svg"
            class="sign-up-vector2"
          />
        </div>
      </div>
    </div>
  </div>
  