  
<div class="landing-page-container">
    <div class="landing-page-landing-page">
      <div class="landing-page-frame4">
        
        <div class="landing-page-group1">
          <span class="landing-page-text"><span>Explore</span></span>
          <span class="landing-page-text002"><span>Community</span></span>
          <div class="landing-page-frame1">
            <span class="landing-page-text004"><span>Saved</span></span>
            <div class="landing-page-presentation">
              <img
                alt="Frame1115"
                src="/frame1115-k6p8.svg"
                class="landing-page-frame"
              />
            </div>
          </div>
          <div class="landing-page-frame2">
            <span class="landing-page-text006"><span>Shop</span></span>
            <div class="landing-page-presentation01">
              <img
                alt="Frame1116"
                src="/frame1116-whk.svg"
                class="landing-page-frame01"
              />
            </div>
          </div>
        </div>
        <div class="landing-page-group2">
     
          <img
            alt="motoxplorlogo11116"
            src="../../../assets/motoxplor.png"
            class="landing-page-motoxplorlogo1"
          />
        </div>
        <div class="landing-page-group3">
          <div class="landing-page-link">
            <div class="landing-page-span">
              <span class="landing-page-text008">
                <span>Sign Up For Free</span>
              </span>
            </div>
          </div>
          <div class="landing-page-link01">
            <div class="landing-page-span1">
              <span class="landing-page-text010"><span>Log In</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-page-frame5">
        <img
          alt="Rectangle21117"
          src="../../../assets/landingPage/0.png"
          class="landing-page-rectangle2"
        />
        <div class="landing-page-frame3">
          <div class="landing-page-group4">
            <span class="landing-page-text012">
              <span>Find your outdoors</span>
            </span>
            <div class="landing-page-form-searchbycityparkortrailname">
              <img
                alt="SVG1118"
                src="/svg1118-xu6c.svg"
                class="landing-page-svg"
              />
              <div class="landing-page-input-searchbycityparkortrailname">
                <div class="landing-page-divplaceholder">
                  <span class="landing-page-text014">
                    <span>Search by city, park, or trail name</span>
                  </span>
                </div>
              </div>
              <button class="landing-page-buttonicon">
                <div class="landing-page-presentation02">
                  <img
                    alt="Frame1119"
                    src="/frame1119-2k2g.svg"
                    class="landing-page-frame02"
                  />
                </div>
              </button>
            </div>
            <span class="landing-page-text016">
              <span>Explore nearby trails</span>
            </span>
          </div>
        </div>
      </div>
      <div class="landing-page-divstylesmodulewrapperq-pjo2">
        <div class="landing-page-divstylesmodulecontainerr-czvw">
          <div class="landing-page-divstylesmodulesign-up-gngxc">
            <div class="landing-page-heading3">
              <span class="landing-page-text018">
                <span>Lorem ipsum dolor sit amet, consectetur elit.</span>
              </span>
            </div>
            <div class="landing-page-divstylesmodulesub-textk-b-lc">
              <span class="landing-page-text020">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Proin
                  pulvinar nibh leo.
                </span>
              </span>
            </div>
            <div class="landing-page-link02">
              <div class="landing-page-span2">
                <span class="landing-page-text022"><span>Sign up</span></span>
              </div>
            </div>
          </div>
          <div class="landing-page-divslickslider">
            <div class="landing-page-divslicklist">
              <div class="landing-page-divslicktrack">
                <div class="landing-page-divstylesmodulecolumns-rjn7r">
                  <div class="landing-page-link03">
                    <img
                      alt="Picturehiking2xavif1697"
                      src="../../../assets/landingPage/2.png"
                      class="landing-page-picturehiking2xavif"
                    />
                    <img
                      alt="divstylesmoduleopacCoverW32RU1698"
                      src="../../../assets/landingPage/3.png"
                      class="landing-page-divstylesmoduleopac-cover-w32ru"
                    />
                    <span class="landing-page-text024">
                      <span>Twisty Roads</span>
                    </span>
                  </div>
                  <div class="landing-page-link04">
                    <img
                      alt="Picturedogs2xavif1701"
                      src="../../../assets/landingPage/4.png"
                      class="landing-page-picturedogs2xavif"
                    />
                    <img
                      alt="divstylesmoduleopacCoverW32RU1702"
                      src="../../../assets/landingPage/4.png"
                      class="landing-page-divstylesmoduleopac-cover-w32ru1"
                    />
                    <span class="landing-page-text026">
                      <span>Fast Roads</span>
                    </span>
                  </div>
                </div>
                <div class="landing-page-divstylesmodulecolumns-rjn7r1">
                  <div class="landing-page-link05">
                    <img
                      alt="Picturemountainbiking2xavif1706"
                      src="../../../assets/landingPage/5.png"
                      class="landing-page-picturemountainbiking2xavif"
                    />
                    <img
                      alt="divstylesmoduleopacCoverW32RU1707"
                      src="../../../assets/landingPage/5.png"
                      class="landing-page-divstylesmoduleopac-cover-w32ru2"
                    />
                    <span class="landing-page-text028">
                      <span>Mountain Roads</span>
                    </span>
                  </div>
                  <div class="landing-page-link06">
                    <img
                      alt="Pictureada2xavif1710"
                      src="../../../assets/landingPage/6.png"
                      class="landing-page-pictureada2xavif"
                    />
                    <img
                      alt="divstylesmoduleopacCoverW32RU1711"
                      src="../../../assets/landingPage/6.png"
                      class="landing-page-divstylesmoduleopac-cover-w32ru3"
                    />
                    <span class="landing-page-text030">
                      <span>Forest Roads</span>
                    </span>
                  </div>
                </div>
                <div class="landing-page-divstylesmodulecolumns-rjn7r2">
                  <div class="landing-page-link07">
                    <img
                      alt="Picturetrailrunning2xavif1715"
                      src="../../../assets/landingPage/7.png"
                      class="landing-page-picturetrailrunning2xavif"
                    />
                    <img
                      alt="divstylesmoduleopacCoverW32RU1716"
                      src="../../../assets/landingPage/7.png"
                      class="landing-page-divstylesmoduleopac-cover-w32ru4"
                    />
                    <span class="landing-page-text032">
                      <span>Seaside Roads</span>
                    </span>
                  </div>
                  <div class="landing-page-link08">
                    <img
                      alt="Pictureroadbiking2xavif1719"
                      src="../../../assets/landingPage/3.png"
                      class="landing-page-pictureroadbiking2xavif"
                    />
                    <img
                      alt="divstylesmoduleopacCoverW32RU1720"
                      src="../../../assets/landingPage/3.png"
                      class="landing-page-divstylesmoduleopac-cover-w32ru5"
                    />
                    <span class="landing-page-text034">
                      <span>Countryside Roads</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <button class="landing-page-buttonnext">
              <div class="landing-page-presentation03">
                <img
                  alt="Frame1724"
                  src="/frame1724-d9im.svg"
                  class="landing-page-frame03"
                />
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="landing-page-div-explore-and-discovermoduletop-containertz-tps">
        <div class="landing-page-picture">
          <img
            alt="IMAGE92a01a077e16fbd9c05eavif1123"
            src="../../../assets/landingPage/1.png"
            class="landing-page-image92a01a077e16fbd9c05eavif"
          />
        </div>
        <div class="landing-page-group5">
          <div class="landing-page-heading1">
            <span class="landing-page-text036">
              <span>
                <span>Explore with</span>
                <br />
                <span>confidence</span>
              </span>
            </span>
          </div>
          <span class="landing-page-text041">
            <span>
              Inspiration and guidance for wherever your trail may lead.
            </span>
          </span>
        </div>
      </div>
      <div class="landing-page-divstylesmoduleriver-containers2din">
        <span class="landing-page-text043"><span>Recommended For You</span></span>
        <div class="landing-page-divslickslider1">
          <div class="landing-page-divslicktrack1">
            <div class="landing-page-frame7">
              <div class="landing-page-divxlatenone">
                <div class="landing-page-link09">
                  <img
                    alt="IMAGE01126"
                    src="../../../assets/landingPage/8.png"
                    class="landing-page-image0"
                  />
                </div>
                <div class="landing-page-div">
                  <div class="landing-page-div01">
                    <div class="landing-page-div02">
                      <span class="landing-page-text045"><span>Easy</span></span>
                      <span class="landing-page-text047">•</span>
                      <div class="landing-page-presentation04">
                        <img
                          alt="Frame1126"
                          src="/frame1126-bsgh.svg"
                          class="landing-page-frame04"
                        />
                      </div>
                      <span class="landing-page-text048"><span>4.4</span></span>
                      <div class="landing-page-span3">
                        <span class="landing-page-text050">
                          <span>(459)</span>
                        </span>
                      </div>
                    </div>
                    <div class="landing-page-div03">
                      <span class="landing-page-text052">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div04">
                      <span class="landing-page-text054">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div05">
                      <div class="landing-page-frame6">
                        <span class="landing-page-text056">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="landing-page-text058">•</span>
                        <span class="landing-page-text059">
                          <span>Est. 3.5d</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="landing-page-divxlatenone1">
                <div class="landing-page-link10">
                  <img
                    alt="IMAGE01139"
                    src="../../../assets/landingPage/9.png"
                    class="landing-page-image01"
                  />
                </div>
                <div class="landing-page-div06">
                  <div class="landing-page-div07">
                    <div class="landing-page-div08">
                      <span class="landing-page-text061"><span>Easy</span></span>
                      <span class="landing-page-text063">•</span>
                      <div class="landing-page-presentation05">
                        <img
                          alt="Frame1140"
                          src="/frame1140-tvqo.svg"
                          class="landing-page-frame05"
                        />
                      </div>
                      <span class="landing-page-text064"><span>4.4</span></span>
                      <div class="landing-page-span4">
                        <span class="landing-page-text066">
                          <span>(459)</span>
                        </span>
                      </div>
                    </div>
                    <div class="landing-page-div09">
                      <span class="landing-page-text068">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div10">
                      <span class="landing-page-text070">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div11">
                      <div class="landing-page-frame61">
                        <span class="landing-page-text072">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="landing-page-text074">•</span>
                        <span class="landing-page-text075">
                          <span>Est. 3.5d</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="landing-page-divxlatenone2">
                <div class="landing-page-link11">
                  <img
                    alt="IMAGE01142"
                    src="../../../assets/landingPage/10.png"
                    class="landing-page-image02"
                  />
                </div>
                <div class="landing-page-div12">
                  <div class="landing-page-div13">
                    <div class="landing-page-div14">
                      <span class="landing-page-text077"><span>Easy</span></span>
                      <span class="landing-page-text079">•</span>
                      <div class="landing-page-presentation06">
                        <img
                          alt="Frame1143"
                          src="/frame1143-ogsaq.svg"
                          class="landing-page-frame06"
                        />
                      </div>
                      <span class="landing-page-text080"><span>4.4</span></span>
                      <div class="landing-page-span5">
                        <span class="landing-page-text082">
                          <span>(459)</span>
                        </span>
                      </div>
                    </div>
                    <div class="landing-page-div15">
                      <span class="landing-page-text084">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div16">
                      <span class="landing-page-text086">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div17">
                      <div class="landing-page-frame62">
                        <span class="landing-page-text088">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="landing-page-text090">•</span>
                        <span class="landing-page-text091">
                          <span>Est. 3.5d</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="landing-page-divxlatenone3">
                <div class="landing-page-link12">
                  <img
                    alt="IMAGE01145"
                    src="../../../assets/landingPage/11.png"
                    class="landing-page-image03"
                  />
                </div>
                <div class="landing-page-div18">
                  <div class="landing-page-div19">
                    <div class="landing-page-div20">
                      <span class="landing-page-text093"><span>Easy</span></span>
                      <span class="landing-page-text095">•</span>
                      <div class="landing-page-presentation07">
                        <img
                          alt="Frame1145"
                          src="/frame1145-n9ee.svg"
                          class="landing-page-frame07"
                        />
                      </div>
                      <span class="landing-page-text096"><span>4.4</span></span>
                      <div class="landing-page-span6">
                        <span class="landing-page-text098">
                          <span>(459)</span>
                        </span>
                      </div>
                    </div>
                    <div class="landing-page-div21">
                      <span class="landing-page-text100">
                        <span>Northern Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div22">
                      <span class="landing-page-text102">
                        <span>Los Andes, Chile</span>
                      </span>
                    </div>
                    <div class="landing-page-div23">
                      <div class="landing-page-frame63">
                        <span class="landing-page-text104">
                          <span>Length: 1277.61km</span>
                        </span>
                        <span class="landing-page-text106">•</span>
                        <span class="landing-page-text107">
                          <span>Est. 3.5d</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="landing-page-buttonnext1">
            <div class="landing-page-presentation08">
              <img
                alt="Frame1136"
                src="/frame1136-prfl.svg"
                class="landing-page-frame08"
              />
            </div>
          </button>
        </div>
      </div>
      <div class="landing-page-frame11">
        <div class="landing-page-group7">
          <div class="landing-page-group21">
            <img
              alt="motoxplorlogo21159"
              src="../../../assets/motoxplor.png"
              class="landing-page-motoxplorlogo21"
            />
            <img
              alt="motoxplorlogo11159"
              src="../../../assets/motoxplor.png"
              class="landing-page-motoxplorlogo11"
            />
          </div>
          <div class="landing-page-group6">
            <div class="landing-page-frame8">
              <span class="landing-page-text109"><span>Explore</span></span>
              <span class="landing-page-text111"><span>Item here</span></span>
              <span class="landing-page-text113"><span>Item here</span></span>
              <span class="landing-page-text115"><span>Item here</span></span>
              <span class="landing-page-text117"><span>Item here</span></span>
            </div>
            <div class="landing-page-div24">
              <span class="landing-page-text119"><span>Maps</span></span>
              <div class="landing-page-list">
                <span class="landing-page-text121"><span>Item here</span></span>
                <span class="landing-page-text123"><span>Item here</span></span>
                <span class="landing-page-text125"><span>Item here</span></span>
                <span class="landing-page-text127"><span>Item here</span></span>
              </div>
            </div>
            <div class="landing-page-div25">
              <span class="landing-page-text129"><span>Company</span></span>
              <div class="landing-page-list1">
                <span class="landing-page-text131"><span>Item here</span></span>
                <span class="landing-page-text133"><span>Item here</span></span>
                <span class="landing-page-text135"><span>Item here</span></span>
              </div>
            </div>
            <div class="landing-page-div26">
              <span class="landing-page-text137"><span>Community</span></span>
              <div class="landing-page-list2">
                <span class="landing-page-text139"><span>Item here</span></span>
                <span class="landing-page-text141"><span>Item here</span></span>
                <span class="landing-page-text143"><span>Item here</span></span>
              </div>
            </div>
          </div>
          <div class="landing-page-div27">
            <span class="landing-page-text145"><span>Connect with us</span></span>
            <div class="landing-page-div28">
              <img
                alt="LinkSVG1154"
                src="/linksvg1154-s1um.svg"
                class="landing-page-link-svg"
              />
              <img
                alt="LinkSVG1154"
                src="/linksvg1154-ar9e.svg"
                class="landing-page-link-svg1"
              />
              <img
                alt="LinkSVG1155"
                src="/linksvg1155-tdb.svg"
                class="landing-page-link-svg2"
              />
              <img
                alt="LinkSVG1156"
                src="/linksvg1156-8zhi.svg"
                class="landing-page-link-svg3"
              />
              <img
                alt="LinkSVG1156"
                src="/linksvg1156-waa2.svg"
                class="landing-page-link-svg4"
              />
            </div>
          </div>
          <div class="landing-page-div29">
            <div class="landing-page-div30">
              <span class="landing-page-text147">
                <span>2023 Motoxplor. All Rights Reserved</span>
              </span>
              <span class="landing-page-text149">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pulvinar nibh leo. Donec augue nulla, ultrices in erat et,
                  pretium elementum.
                </span>
              </span>
              <span class="landing-page-text151">
                <span>
                  Sed in cursus ipsum, eget laoreet nisi. Lorem ipsum dolor sit
                  amet,
                </span>
              </span>
            </div>
            <div class="landing-page-label">
              <div class="landing-page-options-selectalanguage">
                <div class="landing-page-div31">
                  <span class="landing-page-text153">
                    <span>English (US)</span>
                  </span>
                </div>
              </div>
              <div class="landing-page-presentation09">
                <img
                  alt="Frame1158"
                  src="/frame1158-cy8.svg"
                  class="landing-page-frame09"
                />
              </div>
            </div>
          </div>
          <div class="landing-page-div32">
            <span class="landing-page-text155"><span>Privacy Policy</span></span>
            <span class="landing-page-text157">•</span>
            <span class="landing-page-text158"><span>Terms</span></span>
            <span class="landing-page-text160">•</span>
            <span class="landing-page-text161"><span>Cookie Policy</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  