<div class="user-profile-container">
    <div class="user-profile-user-profile">
     <app-navbar></app-navbar>
      <img
        src="../../../assets/userProfile/profile1.png"
        alt="Rectangle42281"
        class="user-profile-rectangle4"
      />
      <img
        src="../../../assets/userProfile/profile5.jpg"
        alt="Ellipse12281"
        class="user-profile-ellipse1"
      />
      <span class="user-profile-text008"><span>John doe</span></span>
      <span class="user-profile-text010">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar
          nibh leo. Donec augue nulla, ultrices in erat et.
        </span>
      </span>
      <img
        src="/vector32283-a96e.svg"
        alt="Vector32283"
        class="user-profile-vector3"
      />
      <div class="user-profile-group11">
        <span class="user-profile-text012"><span>Favourite routes</span></span>
        <img
          src="/vector42283-l5u.svg"
          alt="Vector42283"
          class="user-profile-vector4"
        />
      </div>
      <div class="user-profile-link">
        <img
          src="/iconsaxlinearmessagetext12282-d84d.svg"
          alt="IconsaxLinearmessagetext12282"
          class="user-profile-iconsax-linearmessagetext1"
        />
        <div class="user-profile-span">
          <span class="user-profile-text014"><span>Connect</span></span>
        </div>
      </div>
      <div class="user-profile-divslickslider">
        <div class="user-profile-divslicktrack">
          <div class="user-profile-frame7">
            <div class="user-profile-divxlatenone">
              <div class="user-profile-link1">
                <img
                  src="../../../assets/userProfile/profile2.png"
                  alt="IMAGE02283"
                  class="user-profile-image0"
                />
              </div>
              <div class="user-profile-div">
                <div class="user-profile-div01">
                  <div class="user-profile-div02">
                    <span class="user-profile-text016"><span>Easy</span></span>
                    <span class="user-profile-text018">•</span>
                    <div class="user-profile-presentation2">
                      <img
                        src="/frame2284-lm1q.svg"
                        alt="Frame2284"
                        class="user-profile-frame2"
                      />
                    </div>
                    <span class="user-profile-text019"><span>4.4</span></span>
                    <div class="user-profile-span1">
                      <span class="user-profile-text021"><span>(459)</span></span>
                    </div>
                  </div>
                  <div class="user-profile-div03">
                    <span class="user-profile-text023">
                      <span>Northern Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div04">
                    <span class="user-profile-text025">
                      <span>Los Andes, Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div05">
                    <div>
                      <span class="user-profile-text027">
                        <span>Length: 1277.61km</span>
                      </span>
                      <span class="user-profile-text029">•</span>
                      <span class="user-profile-text030">
                        <span>Est. 3.5d</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-profile-divxlatenone1">
              <div class="user-profile-link2">
                <img
                  src="../../../assets/userProfile/profile4.png"
                  alt="IMAGE02286"
                  class="user-profile-image01"
                />
              </div>
              <div class="user-profile-div06">
                <div class="user-profile-div07">
                  <div class="user-profile-div08">
                    <span class="user-profile-text032"><span>Easy</span></span>
                    <span class="user-profile-text034">•</span>
                    <div class="user-profile-presentation3">
                      <img
                        src="/frame2287-i2y.svg"
                        alt="Frame2287"
                        class="user-profile-frame3"
                      />
                    </div>
                    <span class="user-profile-text035"><span>4.4</span></span>
                    <div class="user-profile-span2">
                      <span class="user-profile-text037"><span>(459)</span></span>
                    </div>
                  </div>
                  <div class="user-profile-div09">
                    <span class="user-profile-text039">
                      <span>Northern Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div10">
                    <span class="user-profile-text041">
                      <span>Los Andes, Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div11">
                    <div class="user-profile-frame61">
                      <span class="user-profile-text043">
                        <span>Length: 1277.61km</span>
                      </span>
                      <span class="user-profile-text045">•</span>
                      <span class="user-profile-text046">
                        <span>Est. 3.5d</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-profile-divxlatenone2">
              <div class="user-profile-link3">
                <img
                  src="../../../assets/userProfile/profile3.png"
                  alt="IMAGE02289"
                  class="user-profile-image02"
                />
              </div>
              <div class="user-profile-div12">
                <div class="user-profile-div13">
                  <div class="user-profile-div14">
                    <span class="user-profile-text048"><span>Easy</span></span>
                    <span class="user-profile-text050">•</span>
                    <div class="user-profile-presentation4">
                      <img
                        src="/frame2290-pnv6.svg"
                        alt="Frame2290"
                        class="user-profile-frame4"
                      />
                    </div>
                    <span class="user-profile-text051"><span>4.4</span></span>
                    <div class="user-profile-span3">
                      <span class="user-profile-text053"><span>(459)</span></span>
                    </div>
                  </div>
                  <div class="user-profile-div15">
                    <span class="user-profile-text055">
                      <span>Northern Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div16">
                    <span class="user-profile-text057">
                      <span>Los Andes, Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div17">
                    <div class="user-profile-frame62">
                      <span class="user-profile-text059">
                        <span>Length: 1277.61km</span>
                      </span>
                      <span class="user-profile-text061">•</span>
                      <span class="user-profile-text062">
                        <span>Est. 3.5d</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-profile-divxlatenone3">
              <div class="user-profile-link4">
                <img
                  src="../../../assets/userProfile/profile3.png"
                  alt="IMAGE02292"
                  class="user-profile-image03"
                />
              </div>
              <div class="user-profile-div18">
                <div class="user-profile-div19">
                  <div class="user-profile-div20">
                    <span class="user-profile-text064"><span>Easy</span></span>
                    <span class="user-profile-text066">•</span>
                    <div class="user-profile-presentation5">
                      <img
                        src="/frame2292-ft8.svg"
                        alt="Frame2292"
                        class="user-profile-frame5"
                      />
                    </div>
                    <span class="user-profile-text067"><span>4.4</span></span>
                    <div class="user-profile-span4">
                      <span class="user-profile-text069"><span>(459)</span></span>
                    </div>
                  </div>
                  <div class="user-profile-div21">
                    <span class="user-profile-text071">
                      <span>Northern Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div22">
                    <span class="user-profile-text073">
                      <span>Los Andes, Chile</span>
                    </span>
                  </div>
                  <div class="user-profile-div23">
                    <div class="user-profile-frame63">
                      <span class="user-profile-text075">
                        <span>Length: 1277.61km</span>
                      </span>
                      <span class="user-profile-text077">•</span>
                      <span class="user-profile-text078">
                        <span>Est. 3.5d</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-profile-frame11">
        <div class="user-profile-group7">
          <div class="user-profile-group21">
            <img
              src="/motoxplorlogo22295-a4ld-200h.png"
              alt="motoxplorlogo22295"
              class="user-profile-motoxplorlogo21"
            />
            <img
              src="/motoxplorlogo12295-qh5k-200h.png"
              alt="motoxplorlogo12295"
              class="user-profile-motoxplorlogo11"
            />
          </div>
          <div class="user-profile-group6">
            <div class="user-profile-frame8">
              <span class="user-profile-text080"><span>Explore</span></span>
              <span class="user-profile-text082"><span>Item here</span></span>
              <span class="user-profile-text084"><span>Item here</span></span>
              <span class="user-profile-text086"><span>Item here</span></span>
              <span class="user-profile-text088"><span>Item here</span></span>
            </div>
            <div class="user-profile-div24">
              <span class="user-profile-text090"><span>Maps</span></span>
              <div class="user-profile-list">
                <span class="user-profile-text092"><span>Item here</span></span>
                <span class="user-profile-text094"><span>Item here</span></span>
                <span class="user-profile-text096"><span>Item here</span></span>
                <span class="user-profile-text098"><span>Item here</span></span>
              </div>
            </div>
            <div class="user-profile-div25">
              <span class="user-profile-text100"><span>Company</span></span>
              <div class="user-profile-list1">
                <span class="user-profile-text102"><span>Item here</span></span>
                <span class="user-profile-text104"><span>Item here</span></span>
                <span class="user-profile-text106"><span>Item here</span></span>
              </div>
            </div>
            <div class="user-profile-div26">
              <span class="user-profile-text108"><span>Community</span></span>
              <div class="user-profile-list2">
                <span class="user-profile-text110"><span>Item here</span></span>
                <span class="user-profile-text112"><span>Item here</span></span>
                <span class="user-profile-text114"><span>Item here</span></span>
              </div>
            </div>
          </div>
          <div class="user-profile-div27">
            <span class="user-profile-text116"><span>Connect with us</span></span>
            <div class="user-profile-div28">
              <img
                src="/linksvg2298-2eo9.svg"
                alt="LinkSVG2298"
                class="user-profile-link-svg"
              />
              <img
                src="/linksvg2299-bf4u.svg"
                alt="LinkSVG2299"
                class="user-profile-link-svg1"
              />
              <img
                src="/linksvg2299-ke.svg"
                alt="LinkSVG2299"
                class="user-profile-link-svg2"
              />
              <img
                src="/linksvg2300-efra.svg"
                alt="LinkSVG2300"
                class="user-profile-link-svg3"
              />
              <img
                src="/linksvg2301-bnsw.svg"
                alt="LinkSVG2301"
                class="user-profile-link-svg4"
              />
            </div>
          </div>
          <div class="user-profile-div29">
            <div class="user-profile-div30">
              <span class="user-profile-text118">
                <span>2023 Motoxplor. All Rights Reserved</span>
              </span>
              <span class="user-profile-text120">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pulvinar nibh leo. Donec augue nulla, ultrices in erat et,
                  pretium elementum.
                </span>
              </span>
              <span class="user-profile-text122">
                <span>
                  Sed in cursus ipsum, eget laoreet nisi. Lorem ipsum dolor sit
                  amet,
                </span>
              </span>
            </div>
            <div class="user-profile-label">
              <div class="user-profile-options-selectalanguage">
                <div class="user-profile-div31">
                  <span class="user-profile-text124">
                    <span>English (US)</span>
                  </span>
                </div>
              </div>
              <div class="user-profile-presentation6">
                <img
                  src="/frame2303-n23.svg"
                  alt="Frame2303"
                  class="user-profile-frame6"
                />
              </div>
            </div>
          </div>
          <div class="user-profile-div32">
            <span class="user-profile-text126"><span>Privacy Policy</span></span>
            <span class="user-profile-text128">•</span>
            <span class="user-profile-text129"><span>Terms</span></span>
            <span class="user-profile-text131">•</span>
            <span class="user-profile-text132"><span>Cookie Policy</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  